html {
  color: white;
  background-color: #9d1717;
  font-size: 12px;
  font-family: 'Merriweather', serif;
}
body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(9, 99, 15);
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: white;
  text-shadow: 3px 3px 1px rgb(9, 99, 15);
  font-size: 60px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}
a {
  text-align: center;
  color: white;
}